<style>
    @media print {
        .page-break {
            display: block;
            page-break-before: always;
        }

        tfoot img {
            position: fixed;
            bottom: 0;
        }
    }
</style>

<div class="row">


        <table style="width:100%;">
            <tr>
                <td>
                    <h2>Tour Leader Insurance</h2>
                </td>
                <!-- for kesari logo -->
                <td><img src="https://image.kesari.in/upload/assets/kesari-tours.png" style="float:right;width:50px;">
                </td>
            </tr>
        </table>

       <!-- table create  s -->
        <table border="1" cellpadding="0" cellspacing="0"
            style="width:100%;font-size:12px;border-spacing: 0.5rem;border-collapse: collapse;">

           
            <tbody>
                
                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        1
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        TL Manegar Name</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                       <%= data.F31_FULLNM %>
                    </td>
                </tr>
               

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        2
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Address</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.address %>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        3
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        DOB</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.DOB %>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        4
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Date Of Travel</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.dateOfTravel %>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        5
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Insurance Start</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.insuranceStart %>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        6
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Days Need To Cover</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.daysNeedToCover %>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        7
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Nominee Name</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.nomineeName %>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        8
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Nominee Relation</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.nomineeRelation %>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        9
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Plan Name</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.planName %>
                    </td>
                </tr>


                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        10
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Mobile</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.mobile %>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        11
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        EmailId</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.emailId %>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        12
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Passport</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.passport %>
                    </td>
                </tr>



                <tr>
                    <td colspan="2" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        13
                    </td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                        Tour Code</td>
                    <td colspan="3" style="padding-left: 10px;padding-top: 5px;padding-bottom: 5px;">
                         <%= data.tourCode %>
                    </td>
                </tr>

            </tbody>
        
           
        </table>
      <!-- end -->

   
</div>